* {
}

body {
  background-color: #23231f;
  color: #c7c7c5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app__container {
  width: auto;
}

.pokemons__container {
}

.pokecards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: auto;
}

.pokecard__container {
  background-color: #383c32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 6px 10px;
  border-radius: 10px;
  text-align: center;

  width: 500px;
  height: 200px;
}

.normal {
  background-color: #545436;
}
.fire {
  background-color: #8c3d09;
}
.fighting {
  background-color: #7f211f;
}
.water {
  background-color: #163472;
}
.flying {
  background-color: #261466;
}
.grass {
  background-color: #436021;
}
.poison {
  background-color: #663366;
}
.electric {
  background-color: #826904;
}
.ground {
  background-color: #684c14;
}
.psychic {
  background-color: #7f1337;
}
.rock {
  background-color: #6b5822;
}
.ice {
  background-color: #256363;
}
.bug {
  background-color: #646614;
}
.dragon {
  background-color: #411e99;
}
.ghost {
  background-color: #5a467a;
}
.dark {
  background-color: #5a463a;
}
.steel {
  background-color: #313149;
}
.fairy {
  background-color: #8c4656;
}

.pokecard__id {
  display: flex;
  align-items: start;
  justify-content: start;
}
